
@import './../utils/_mixins.scss';

.aside-menu {
  background-color: #1A5A4C;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  transition: all 0.3s;
  opacity: 0;
  transform: translateX(-100%);
  pointer-events: none;


  &:target {
  opacity: 1;
  transform: translateX(0);
  pointer-events: all;
  }
}

.container {
  padding: 27px 20px;
  display: flex;
  flex-direction: column;
  gap: 49px;

  @include onTablet {
    flex-direction: row;
    padding-top: 40px;
    padding-bottom: 40px 35px;
    gap: 77px;
    justify-content: space-between;

  }
}

.aside__nav-menu {
  display: grid;
  grid-template-rows: 2;
}

.aside-container {
  display: flex;
  flex-direction: column;
  position: relative;

  &::before {
  content: '';
  position: absolute;
  top: -24px;
  display: block;
  height: 1px;
  width: 100%;
  background-color: #FFFFFF;
  }

  @include onTablet {


    &::before {
      content: '';
      position: absolute;
      left: -38px;
      top: 5px;
      display: block;
      height: 100%;
      width: 1px;
      background-color: #FFFFFF;
    }
}

.aside__schedule {
  @include onTablet{
  display: flex;
  flex-direction: row;
  gap: 38px;
}
}

.aside__text {
  @include onTablet {
  width: 144px;
  }
}

.aside-title {
  font-family: IBM Plex Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 141%;
    letter-spacing: 0%;
    color: #FFFFFF;
    padding-bottom: 24px;
}

.schedule {
  font-family: IBM Plex Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #FFFFFF;

}

.hours {
  padding-bottom: 16px;
}

span {
  font-family: IBM Plex Sans;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #FFFFFF;;
}

.aside__top-bar-menu {
  display: flex;
  flex-direction: row;
  gap: 28px;


  @include onTablet {
    gap: 38px;

}
}
}