.actual_events {
  padding: 0 20px;

  @include onTablet {
    padding: 0 34px;
  }

  @include onDesktop {
    padding: 0;
  }

  }

.events_title {
  color: #0F0E08;
  text-align: center;
  margin-bottom: 40px;

  @include onTablet {
    text-align: left;
  }

    @include onDesktop {
      padding-left:55px;
    }
}

.actual-events-block {
  display: flex;
  //margin-bottom: 60px;
  flex-direction: column;

  @include onDesktop {
    display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 30px;
    
      padding: 0 55px;
      align-items: center;
      margin-bottom: 104px;
  }
}

.actual-events-block picture {
  @include onDesktop {
    grid-column: 1 / 8;
  }
}


.events {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 20px;

  @include onTablet {
    margin-bottom: 40px;
  }

    @include onDesktop{
      margin-right: 130px;
      margin-bottom: 0;
    }
}

.exhibition-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @include onTablet {
    justify-content: flex-start;
    gap: 15px;
  }
}

.exhibition {
  margin-bottom: 15px;
  color: #687480;

  @include onTablet {
    margin-bottom: 30px;
  }

    @include onDesktop {
      margin-bottom: 30px;
    }
}

.data {
  font-family: IBM Plex Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #1A5A4C;
  margin-bottom: 15px;

  @include onTablet {
    font-size: 14px;
    margin-bottom: 32px;
  }

    @include onDesktop {
      margin-bottom: 32px;
    }
}

.exhibition_title {
  margin-bottom: 10px;

  @include onTablet {
    margin-bottom: 15px;
  }

    @include onDesktop {
      margin-bottom: 15px;
    }
}

.info_text {
  font-family: IBM Plex Sans;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;

  color: #4E4E4E;
  margin-bottom: 60px;

  @include onTablet {
    margin-bottom: 64px;
  }

    @include onDesktop {
      margin-bottom: 0;
    }
}

.info_block {
  @include onDesktop {
    grid-column: 9 / 13;
    align-self: center;
    margin-right: 0;
  }
}

.actual-events-block:last-child .info_text {
  @include onTablet {
    margin-bottom: 112px;
  }

    @include onDesktop {
      margin-bottom: 0;
    }
}

.orange_square {
  width: 15px;
  height: 15px;
  align-items: center;
  gap: 8px;
}