
.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-size: cover;
  transition: transform 0.5s;

  &:hover {
    transform: scale(1.2);
  }
}

.icon--close {
  color: #FFFFFF;
  background-image: url(/images/icon__close.svg);
}

