
@import './../utils/_mixins.scss';

.nav {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 28px;

    &--column {
      display: flex;
      flex-direction: column;
      gap: 24px;

      @include onTablet {
        gap: 20px;
      }
  }

  &__link {
    position: relative;
    color: #FFFFFF;
    text-decoration: none;
    font-family: IBM Plex Sans;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    list-style: none;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      bottom: -8px;
      display: block;
      height: 1px;
      width: 100%;
      background-color: #FFFFFF;

      transition: transform 0.3s;
      transform: scale(0);
    }

    &:hover::after {
      transform: scale(1);
    }
    }
  }
}

.nav__item {
  color: #FFFFFF;
    text-decoration: none;
    font-family: IBM Plex Sans;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    list-style: none;
    cursor: pointer;
}

li {
  list-style: none;
}