@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'fonts';
@import 'typography';
@import './blocks/aside.scss';
@import './blocks/header.scss';
@import './blocks/nav.scss';
@import './blocks/page.scss';
@import './blocks/icon.scss';
@import './utils/_mixins.scss';
@import './blocks/events.scss';
@import './blocks/lection.scss';
@import './blocks/gallery.scss';
@import './blocks/pidpuska.scss';
@import './blocks/footer.scss';


body, .page__body {
  //background: $c-gray;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

 /* @media (min-width: 640px) {
    header {
      display: grid;
      --columns: 6;
      grid-template-columns: repeat(var(--columns),1fr);
      column-gap: 30px;
    } 

  }*/

  h1 {
    margin: 0;
  }

.page--title {
  padding-top: 20px;
  //padding-bottom: 20px;

  @include onTablet {
    padding-top: 127px;
    padding-left: 34px;
    padding-right: 20px;
    //padding-bottom: 28px;
  }

     @include onDesktop {
      padding-top: 206px;
      padding-left: 55px;
      padding-right: 20px;
      //padding-bottom: 28px;
     }
}
