@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin onMobile {
  @media (min-width: 320px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin onTheDesign {
  @media (min-width: 1440px) {
    @content;
  }
}

@mixin page-grid {
  --columns: 2;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include onMobile {
      --columns: 4;
    }

  @include onTablet {
    --columns: 6;

    column-gap: 30px;
  }

  @include onDesktop {
    --columns: 12;
  }
}

