@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin onMobile {
  @media (min-width: 320px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin onTheDesign {
  @media (min-width: 1440px) {
    @content;
  }
}

@mixin page-grid {
  display: grid;
  width: 100%;
  //grid-template-columns: repeat(var(--columns), 1fr);
  //column-gap: var(--gap, 20px);
  //padding-inline: var(--margin, 20px);

  // Mobile (320px+)
  @include onMobile {
    grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
    //--columns: 2;
    //--gap: 20px;
    //--margin: 20px;
  }

  // Tablet (640px+)
  @include onTablet {
    grid-template-columns: repeat(6, 1fr);
      column-gap: 30px;
      padding-left: 34px;
      //padding-top: 39px;
    //--columns: 6;
    //--gap: 30px;
    //--margin: 39px;
    //max-width: 768px;
    //margin: 0 auto;
  }

  // Desktop (1280px+)
  @include onDesktop {
    grid-template-columns: repeat(12, 1fr);
      column-gap: 30px;
      padding-left: 55px;
      //padding-top: 39px;
    //--columns: 12;
    //--gap: 30px;
    //--margin: 55px;
   //max-width: 1280px;
    //margin: 0 auto;
  }

  // Large design (1440px+)
  @include onTheDesign {
    --columns: 12;
    --gap: 30px;
    padding-left: 80px;
    //padding-top: 39px;
    //--margin: 80px;
    //max-width: 1440px;
    //margin: 0 auto;
  }
}

@mixin content-padding {
  padding-inline: 20px;

  @include onTablet {
    padding-inline: 39px;
  }

  @include onDesktop {
    padding-inline: 55px;
  }

  @include onTheDesign {
    padding-inline: 80px;
  }
}
